body {
  /* font-family: "Merriweather", serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

/* CONTAINER  */
.container-fluid {
  padding: 7% 10%;
}

.container-fluid.title {
  padding: 1% 10% 1%;
}

#service .container-fluid {
  padding: 7% 2%;
}

#contact .container-fluid {
  padding: 7% 30%;
}

/* NAVBAR  */
.title {
  background-color: #cfe6ba;
}

.navbar-brand {
  color: #025a4e;
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #21bda8;
}

.nav-link {
  color: #025a4e;
  font-size: 1.3rem;
  margin: 0 5px;
}

.nav-link:hover {
  color: #21bda8;
}

/* HEADING  */
#home {
  margin: 90px 0;
}
.heading {
  color: #025a4e;
  display: block;
  /* font-family: "Sofia", cursive; */
  font-weight: 900;
  font-size: 7rem;
}

.sub-heading {
  color: #025a4e;
  display: block;
  font-size: 6rem;
  /* font-family: "Sofia", cursive; */
  font-weight: 700;
}

.home-intro {
  color: #667b77;
  font-size: 1.28rem;
  margin: 70px -5px;
}

/* STAR  */
/* .top-star {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 170px;
  right: 250px;
  visibility: hidden;
  opacity: 0;
  animation: top-star 2s 1s forwards;
}

@keyframes top-star {
  100% {
    visibility: visible;
    opacity: 1;
  }
} */

/* .bottom-star {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 400px;
  left: 260px;
  visibility: hidden;
  opacity: 0;
  animation: bottom-star 2s 1s forwards;
}

@keyframes bottom-star {
  100% {
    visibility: visible;
    opacity: 1;
  }
} */

/* ABOUT SECTION  */
#about {
  background-color: #233831;
}

#about .heading {
  color: #8fdcc2;
  margin: 18px 0 85px 0;
}

#about .sub-heading {
  color: #8fdcc2;
  /* font-family: "Sofia", cursive; */
  font-size: 3rem;
  font-weight: 700;
  padding-top: 15px;
  text-align: left;
  line-height: 1.3;
}

#about .home-intro {
  color: #c2dad1;
  font-size: 1.3rem;
  line-height: 1.7;
  margin: 30px 0;
  text-align: left;
}

.img-bg {
  background-color: #ad9179;
  border-radius: 200px 200px 0 0;
  margin-left: -20px;
  padding-top: 50px;
  width: 100%;
}

.profile-img {
  object-fit: cover;
  width: 100%;
}

.right-part {
  margin-left: 50px;
}

/* SERVICE SECTION  */
#service {
  background-color: #8fdcc2;
  position: relative;
}

/* .service-star {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 120px;
  right: 300px;
} */

#service .heading {
  color: #233831;
  margin: 18px 0 85px 0;
}

#service .sub-heading {
  color: #83e0c0;
  /* font-family: "Ubuntu", sans-serif; */
  font-size: 1.7rem;
  text-align: left;
  margin: 30px 0 -55px 0;
}

#service .home-intro {
  color: #d0eee3;
  font-size: 1rem;
  margin: 70px -5px 30px 0;
  text-align: left;
}

.service-box {
  background-color: #1f4338;
  width: 100%;
  border-radius: 12px;
}

.service-box:hover {
  transform: scale(1.03);
  transition: 0.3s;
  border: 2px solid #336b5a;
}

.f-end {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 40px 5px 0 0;
  background-color: #1c3329;
}

.icon {
  color: #8fdcc2;
  margin: 8px 0 0 0;
  font-size: 55px;
}

/* PRICING SECTION  */
#pricing {
  background-color: #233831;
}

#pricing p {
  color: #233831;
}

#pricing .heading {
  color: #8fdcc2;
  margin: 18px 0 -35px 0;
  font-size: 4.5rem;
}

#pricing .sub-heading {
  font-size: 3rem;
}

#pricing .home-intro {
  color: #c2dad1;
  font-size: 1.3rem;
  line-height: 1.7;
  text-align: center;
}

.card {
  background-color: #8fdcc2;
}

.price-text {
  color: #233831;
  font-size: 2.3rem;
}

.btn {
  border: 1px solid #233831;
}

.btn:hover {
  background-color: #233831;
  color: #8fdcc2;
}

.next-btn {
  background-color: #233831;
  color: #8fdcc2;
}

/* CONTACT SECTION  */
#contact {
  background-color: #8fdcc2;
  text-align: left;
}

#contact .heading {
  color: #233831;
  font-size: 5rem;
  text-align: center;
  /* font-family: "Poppins", sans-serif; */
  margin: 18px 0 50px 0;
}

.form-bg {
  background-color: #63ad95;
  padding: 10px;
  border-radius: 20px;
}

#footer {
  background-color: #cfe6ba;
}

.footer-link {
  color: #1c3329;
  font-size: 2rem;
  margin: 0 20px;
}

.footer-link:hover {
  color: #025a4e;
}

.copyright {
  color: #2c4415;
  padding: 0 0 50px 0;
  margin: -54px;
}

/* RESPONSIVE BREAK POINT */
@media screen and (max-width: 1400px) {
  .home-intro {
    margin: 70px 192px;
  }
}

@media screen and (max-width: 950px) {
  .heading {
    font-size: 6rem;
  }
  .sub-heading {
    font-size: 5.5rem;
  }
  .home-intro {
    margin: 70px 44px;
  }
}

@media screen and (max-width: 814px) {
  .heading {
    font-size: 5rem;
  }
  .sub-heading {
    font-size: 4.55rem;
  }
}

@media screen and (max-width: 681px) {
  .heading {
    font-size: 4.5rem;
  }
  .sub-heading {
    font-size: 4rem;
  }
  .home-intro {
    font-size: 1.2rem;
    margin: 70px 17px;
  }
}

@media screen and (max-width: 614px) {
  .heading {
    font-size: 4rem;
  }
  .sub-heading {
    font-size: 3.5rem;
  }
  .home-intro {
    margin: 70px 5px;
  }
}

@media screen and (max-width: 547px) {
  .heading {
    font-size: 3.5rem;
  }
  .sub-heading {
    font-size: 3rem;
  }
  .home-intro {
    font-size: 1.1rem;
    margin: 70px 2px;
  }
}

@media screen and (max-width: 412px) {
  .heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 2.5rem;
  }
  .home-intro {
    font-size: 0.8rem;
    margin: 70px 0;
  }
}

/* ABOUT SECTION  */

@media screen and (max-width: 1234px) {
  #about .sub-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1159px) {
  #about .home-intro {
    line-height: 1.4;
  }
}

@media screen and (max-width: 1070px) {
  #about .sub-heading {
    font-size: 2rem;
  }
  #about .home-intro {
    line-height: 1.4;
  }
  .img-bg {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1015px) {
  .right-part {
    margin-left: 10px;
  }
  .profile-img {
    height: 320px;
  }
  #about .sub-heading {
    font-size: 2rem;
  }
  #about .home-intro {
    line-height: 1.4;
  }
  .img-bg {
    padding-top: 60px;
  }
}

@media screen and (max-width: 930px) {
  .right-part {
    margin-left: 10px;
  }
  .profile-img {
    height: 315px;
  }
  #about .sub-heading {
    font-size: 1.8rem;
    margin-bottom: -10px;
  }
  #about .home-intro {
    font-size: 1.12rem;
    line-height: 1.4;
  }
  .img-bg {
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .right-part {
    margin-left: 0;
  }
  .profile-img {
    height: 315px;
  }
  #about .sub-heading {
    font-size: 2.2rem;
    margin: 25px 0 -8px 0;
    text-align: justify;
  }
  #about .home-intro {
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: justify;
  }
  .img-bg {
    border-radius: 5rem 5rem 0 0;
    margin: 0 auto;
    padding: 0;
    width: 85%;
  }
}

@media screen and (max-width: 558px) {
  #about .sub-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 508px) {
  #about .sub-heading {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 412px) {
  .right-part {
    margin-left: 0;
  }
  .profile-img {
    height: 315px;
  }
  #about .sub-heading {
    font-size: 1.7rem;
    margin: 25px 0 -8px 0;
    text-align: justify;
  }
  #about .home-intro {
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: justify;
  }
  .img-bg {
    border-radius: 5rem 5rem 0 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
}

/* PRICING SECTION  */

@media screen and (max-width: 882px) {
  #pricing .heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 785px) {
  #pricing .heading {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 689px) {
  #pricing .heading {
    font-size: 3rem;
  }
  #pricing .home-intro {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 593px) {
  #pricing .heading {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 593px) {
  #pricing .heading {
    font-size: 2.2rem;
  }
  #pricing .home-intro {
    font-size: 1rem;
  }
}
@media screen and (max-width: 412px) {
  #pricing .heading {
    font-size: 2rem;
  }
  #pricing .home-intro {
    font-size: 0.95rem;
  }
}

/* CONTACT SECTION  */
@media screen and (max-width: 1032px) {
  #contact .heading {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 930px) {
  #contact .heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 828px) {
  #contact .heading {
    font-size: 3.5rem;
  }
  #contact .container-fluid {
    padding: 7% 20%;
  }
}

@media screen and (max-width: 727px) {
  #contact .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 625px) {
  #contact .heading {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 500px) {
  #contact .heading {
    font-size: 2.7rem;
  }
  #contact .container-fluid {
    padding: 7% 15%;
  }
}

@media screen and (max-width: 412px) {
  #contact .heading {
    font-size: 2.7rem;
  }
  #contact .container-fluid {
    padding: 7% 7%;
  }
}

/* FOOTER SECTION  */
@media screen and (max-width: 1033px) {
  .copyright {
    padding: 16px 0 50px 0;
  }
}

@media screen and (max-width: 774px) {
  .copyright {
    padding: 25px 0 50px 0;
  }
}

@media screen and (max-width: 633px) {
  .copyright {
    padding: 30px 0 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .copyright {
    padding: 40px 0 50px 0;
  }
}
